<!DOCTYPE html>
{% include "header.html" %}

<script>
    window.onload = function() {
        //return to tab in URL
        var url = window.location.href.split("#");
        if(url.length <= 1) {
            {% if tab %}
                window.location.href+="#{{ tab }}";
                while(document.getElementsByClassName('active').length > 0){
                    document.getElementsByClassName('active')[0].classList.remove('active')
                }
                document.getElementById("{{ tab }}").classList.add("show");
                document.getElementById("{{ tab }}").classList.add("active");
                document.getElementById("{{ tab }}"+"-tab").classList.add("active")
            {% else %}
                window.location.href+="#home"
            {% endif %}
        } else {
            //clear active
            while(document.getElementsByClassName('active').length > 0){
                document.getElementsByClassName('active')[0].classList.remove('active')
            }
            document.getElementById(url[1]).classList.add("show");
            document.getElementById(url[1]).classList.add("active");
            document.getElementById(url[1]+"-tab").classList.add("active")
        }
    }

    function setURLHash(text) {
        var url = window.location.href.split("#");
        if(url.length <= 1) {
            window.location.href+="#"+text;
        } else {
            window.location.href = url[0]+"#"+text;
        }
    }

</script>

<script src="static/lib/quilljs/quill.js"></script>
<link href="static/lib/quilljs/quill.snow.css" rel="stylesheet">

<body>
    {{ bootstrap.load_js() }}

    <ul class="nav nav-tabs" id="menutabsbuttons" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" onclick="setURLHash('home')" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pages-tab" data-bs-toggle="tab" data-bs-target="#pages" onclick="setURLHash('pages')" type="button" role="tab" aria-controls="pages" aria-selected="false">Pages</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user" onclick="setURLHash('user')" type="button" role="tab" aria-controls="user" aria-selected="false">User config</button>
    </li>
    </ul>
    <div class="tab-content" id="menutabs">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h2>Published pages</h2>
            <ul>
            {% for p in published %}
                <li>{{ p }}</li>
            {% endfor %}
            </ul>
        </div>
    <div class="tab-pane fade" id="pages" role="tabpanel" aria-labelledby="pages-tab">
        <div id="page_selector">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Page Name</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Published file</th>
                        <th scope="col">Published Modified</th>
                        <th scope="col">edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page[0] }}</td>
                            <td>{{ page[1] }}</td>
                            <td>{{ page[2] }}</td>
                            <td>{{ page[3] }}</td>
                            <td>{{ page[4] }}</td>
                            <td><button onclick="setEditor('{{ page[0] }}_{{ page[1] }}')" class="btn btn-primary">Edit</button></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <div>
                <input id="filename" placeholder="your page name"></input>
                <button onclick="createPage()" class="btn btn-primary">Create page</button>
            </div>
        </div>
        <div id="editordiv" style="display:none;">
            <div id="editor"></div>
                <button onclick="save()">save</button>
                <button onclick="publish()">publish</button>
                <button onclick="deletePage()">delete</button>
                <button onclick="clearEditor()">back</button>
            </div>
    </div>
    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
        {% include "newUser.html" %}
    </div>
    </div>

<script>
        const options = {
            debug: 'info',
            modules: {
                toolbar: true,
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'
        };
        const container = document.getElementById('editor');
        const quill = new Quill(container, options);

        const editordiv = document.getElementById("editordiv");
        const tablediv = document.getElementById("page_selector");

        async function setEditor(page) {
            var fetchObj = await fetch("/getpage/"+page);
            var body = await fetchObj.text();
            if (body == "not permitted") {
                alert("not permitted")
            } else if (body == "not found") {
                alert("content not found")
            } else {
                quill.root.innerHTML = body;
                savedContents = body;
                activePage = page;
                editordiv.style.display = "block";
                tablediv.style.display = "none";
            }
        }

        async function clearEditor() {
            if(savedContents != quill.getSemanticHTML()) {
                if(!confirm("Are you sure you want to exit without saving?")) {
                    return;
                }
            }
            editordiv.style.display = "none";
            tablediv.style.display = "block";
            quill.root.innerHTML = "";
            activePage = "";
        }

        var savedContents = "<p></p>";
        var activePage = "";

        function save() {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/savepage");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            const body = {
                name: activePage,
                body: quill.getSemanticHTML()
            }
            xhr.onload = () => {
                if (xhr.readyState == 4 && xhr.status == 201) {
                    console.log(JSON.parse(xhr.responseText));
                } else {
                    if(xhr.status == 200) {
                        console.log("200 - OK");
                        savedContents = quill.getSemanticHTML();
                    } else {
                        console.log("error status "+xhr.status);
                        alert("failed to save")
                    }
                }
            };
            xhr.send(JSON.stringify(body));
        }

        function deletePage() {
            if(confirm("Are you sure?")) {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/deletepage");
                xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
                const body = { name: activePage };
                xhr.onload = () => {
                    if (xhr.readyState == 4 && xhr.status == 201) {
                        console.log(JSON.parse(xhr.responseText));
                    } else {
                        if(xhr.status == 200) {
                            console.log("200 - OK");
                            location.reload();

                        } else {
                            console.log("error status "+xhr.status);
                            alert("failed to delete");
                        }
                    }
                };
                xhr.send(JSON.stringify(body));
            }
        }

        function createPage() {
            var title = document.getElementById("filename").value;
            if (title != "" || title.indexOf("_") == -1 || title.indexOf("/") == -1 || title.indexOf("\/") == -1) {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/createpage");
                xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
                xhr.onload = () => {
                    if (xhr.readyState == 4 && xhr.status == 201) {
                        console.log(JSON.parse(xhr.responseText));
                    } else {
                        if(xhr.status == 200) {
                            console.log("200 - OK");
                            location.reload();

                        } else {
                            console.log("error status "+xhr.status);
                            alert("failed to create");
                        }
                    }
                };
                xhr.send(JSON.stringify({name: title}));

            } else {
                alert("invalid name")
            }

        }

        function publish() {
                save();
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/publish");
                xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
                xhr.onload = () => {
                    if (xhr.readyState == 4 && xhr.status == 201) {
                        console.log(JSON.parse(xhr.responseText));
                    } else {
                        if(xhr.status == 200) {
                            console.log("200 - OK");
                            location.reload();

                        } else {
                            console.log("error status "+xhr.status);
                            alert("failed to publish");
                        }
                    }
                };
                xhr.send(JSON.stringify({name: activePage}));
        }


</script>

</body>
{% include "footer.html" %}
