<!DOCTYPE html>
{% include "header.html" %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Signed in as {{ username }} </a>
      </li>
    </ul>
    <div  class="collapse navbar-collapse justify-content-end">
        <a class="nav-link" href="/logout">logout</a>
    </div>
</nav>

<script>
    window.onload = function() {
        //return to tab in URL
        var url = window.location.href.split("#");
        if(url.length <= 1) {
            {% if tab %}
                window.location.href+="#{{ tab }}";
                while(document.getElementsByClassName('active').length > 0){
                    document.getElementsByClassName('active')[0].classList.remove('active')
                }
                document.getElementById("{{ tab }}").classList.add("show");
                document.getElementById("{{ tab }}").classList.add("active");
                document.getElementById("{{ tab }}"+"-tab").classList.add("active")
            {% else %}
                window.location.href+="#home"
            {% endif %}
        } else {
            //clear active
            while(document.getElementsByClassName('active').length > 0){
                document.getElementsByClassName('active')[0].classList.remove('active')
            }
            document.getElementById(url[1]).classList.add("show");
            document.getElementById(url[1]).classList.add("active");
            document.getElementById(url[1]+"-tab").classList.add("active")
        }
    }

    function setURLHash(text) {
        var url = window.location.href.split("#");
        if(url.length <= 1) {
            window.location.href+="#"+text;
        } else {
            window.location.href = url[0]+"#"+text;
        }
    }

</script>

<body>
    {{ bootstrap.load_js() }}

    <ul class="nav nav-tabs" id="menutabsbuttons" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" onclick="setURLHash('home')" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pages-tab" data-bs-toggle="tab" data-bs-target="#pages" onclick="setURLHash('pages')" type="button" role="tab" aria-controls="pages" aria-selected="false">Pages</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user" onclick="setURLHash('user')" type="button" role="tab" aria-controls="user" aria-selected="false">User config</button>
    </li>
    </ul>
    <div class="tab-content" id="menutabs">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h1 id="clock"></h1>
            <script>
                //clock
                const clock = document.getElementById("clock");
                window.setInterval(function() {
                    //update the clock
                    clock.innerHTML = (new Date().toLocaleTimeString());
                }, 1000);
            </script>
        </div>
    <div class="tab-pane fade" id="pages" role="tabpanel" aria-labelledby="pages-tab">
        <div id="page_selector">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Page Name</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Published URL</th>
                        <th scope="col">Published time</th>
                        <th scope="col">edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page[1] }}</td>
                            <td>{{ page[2] }}</td>
                            <td>Not Published</td>
                            <td>N/A</td>
                            <td><button onclick="showEditor()" class="btn btn-primary">Edit</button></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <div>
                <button onclick="" class="btn btn-primary">Create page</button>
                <input id="filename" placeholder="your page name"></input>
            </div>
        </div>
        <div id="editordiv" style="display:none;">
            <div id="editor"></div>
                <button onclick="save()">save</button>
                <button>publish</button>
                <button>delete</button>
                <button>back</button>
            </div>
    </div>
    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
        {% include "newUser.html" %}
    </div>
    </div>

<script>
        const options = {
            debug: 'info',
            modules: {
                toolbar: true,
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'
        };
        const container = document.getElementById('editor');
        const quill = new Quill(container, options);

        const editordiv = document.getElementById("editordiv");
        const tablediv = document.getElementById("page_selector");

        function showEditor(page) {
            editordiv.style.display = "block";
            tablediv.style.display = "none";
        }

        function save() {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/save");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            const body = {
                name: "filler",
                body: quill.getSemanticHTML()
            }
            xhr.onload = () => {
            if (xhr.readyState == 4 && xhr.status == 201) {
                console.log(JSON.parse(xhr.responseText));
            } else {
                if(xhr.status == 200) {
                    console.log("200 - OK");
                } else {
                    console.log("error status "+xhr.status);
                }
            }
            };
		{% set count = namespace(value= request.form.Title) %}
            xhr.send(JSON.stringify(body));
        }


</script>

</body>
{% include "footer.html" %}
