<!DOCTYPE html>
{% include "header.html" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simple blog</a>
</nav>
<body>
    {{ bootstrap.load_js() }}
    <div id="editor"></div>
    <button onclick="save()">save</button>
    <button>publish</button>

    <script>
        const options = {
            debug: 'info',
            modules: {
                toolbar: true,
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'
        };
        const container = document.getElementById('editor');
        const quill = new Quill(container, options);
    </script>
    <script>
        function save() {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/save");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            const body = {
                body: quill.getSemanticHTML()
            }
            xhr.onload = () => {
            if (xhr.readyState == 4 && xhr.status == 201) {
                console.log(JSON.parse(xhr.responseText));
            } else {
                if(xhr.status == 200) {
                    console.log("200 - OK");
                } else {
                    console.log("error status "+xhr.status);
                }
            }
            };
            xhr.send(JSON.stringify(body));


        }   
    </script>
</body>
{% include "footer.html" %}
