<!DOCTYPE html>
{% include "header.html" %}
  <body>
    {{ bootstrap.load_js() }}
    <div class="container">
      <h1>Please create user</h1>
      <br>
      <form action="/newuser" method="post">
        <input type="text" placeholder="Enter a username" name="username2" value="{{
          request.form.username2 }}">
         <input type="password" placeholder="Enter a password" name="password2" value="{{
          request.form.password2 }}">
	<input type="password" placeholder="Confirm password" name="passwordCheck" value="{{
          request.form.passwordCheck }}">

        <input class="btn btn-default" type="submit" value="Create">
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>

{% include "footer.html" %}
</html>
